{% extends '@!Forumify/frontend/forum/list.html.twig' %}
{% block body %}
    <div class="flex gap-4">
        <div class="w-80">
            {{ parent() }}s
        </div>
        <div class="w-20">
            I am a sidebar!
        </div>
    </div>
{% endblock %}